In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datasets import load_dataset

In [77]:
dataset = load_dataset('harshi321/netflix-movies_shows')
df = dataset['train'].to_pandas()

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df['date_added'] = df['date_added'].astype(str)  # Convert to string type
df['date_added'] = df['date_added'].str.strip()  # Remove any leading/trailing spaces
df['date_added'] = pd.to_datetime(df['date_added'], format="%B %d, %Y", errors='coerce')  # Convert to datetime

Clean None/NaN

In [109]:
# Replace the string 'None' with actual NaN values
df['country'] = df['country'].replace('None', np.nan)
df['cast'] = df['cast'].replace('None', np.nan)
df['director'] = df['director'].replace('None', np.nan)

# Now remove rows with NaN in the 'country' column
df = df.dropna(subset=['country'])
df = df.dropna(subset=['cast'])
df = df.dropna(subset=['director'])

In [167]:
df['release_year'].sample()

5252    2017
Name: release_year, dtype: int64

In [168]:
# Find rows where 'release_year' is NaN
nan_rows = df[df['release_year'].isna()]
nan_rows

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [170]:
top_countries = df['country'].value_counts().head(3).index

In [173]:
type_of_contents = df.pivot_table(values='release_year',  # Any column with data (e.g., 'release_year')
                               index='country',  
                               columns='type',  # 'type' should contain 'Movie' or 'TV Show'
                               aggfunc='median')

type_of_contents

type                                                 Movie  TV Show
country
, France, Algeria                                   2014.0      NaN
Argentina                                           2018.0   2020.0
Argentina, Brazil, France, Poland, Germany, Den...  2017.0      NaN
Argentina, Chile                                    2011.5      NaN
Argentina, Chile, Peru                              2015.0      NaN
...                                                    ...      ...
Uruguay, Guatemala                                  2019.0      NaN
Uruguay, Spain, Mexico                              2018.0      NaN
Venezuela                                           2017.0      NaN
Vietnam                                             2019.0      NaN
Zimbabwe                                            2017.0      NaN

[604 rows x 2 columns]